@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  /* Base */
	--color-bg: #E2E8F0;        /* slate-200 */
	--color-surface: #FFFFFF;     /* white */
	--color-text: #0F172A;        /* slate-900 */
	--color-muted: #475569;       /* slate-600 */
	--color-border: #E2E8F0;      /* slate-200 */

	/* Brand */
	--color-primary: #4F46E5;     /* indigo-600 */
	--color-primary-700: #4338CA; /* indigo-700 */
	--color-secondary: #0EA5E9;   /* sky-500 */
	--color-accent: #22C55E;      /* green-500 (opcional) */
}

html, body {
	height: 100%;
}

body {
	margin: 0;
}

@layer components {
	.chip {
		@apply rounded-lg border border-border/60 bg-surface/70
			px-3 py-1 text-sm text-slate-700
			dark:border-slate-800 dark:bg-slate-950/60 dark:text-slate-200;
	}
}


